table{ 
background-color: skyblue; 
} 
td{ 
color: red;font-family: 'Arial Narrow', Arial, sans-serif; } 
tr{ 
color: red;font-family: 'Arial Narrow', Arial, sans-serif; } 
#button1{ 
background-origin: 10; 
background-color: aqua; 
} 
#button2{ 
background-origin: 10; 
background-color: gold; 
}
